@import "../../index.scss";

.container {
  height: calc(100% - 77px);
  background-color: #e8e8e8;
  display: flex;
  @include desktop {
    flex-direction: row !important;
  }
  @include tablet {
    flex-direction: column;
  }
  @include phone {
    flex-direction: column;
  }
}
