.tooltip {
    position: absolute;
    bottom: 50%;
    right: 35%;
    left: 35%;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
    padding: 5px 8px;
    border-radius: 6px;
}